html{
	height: 100%;
}

body{
	text-align: center;
	width: 100%;
	display: block;
	margin: 0 auto;
	font-family: 'Arial', 'Times New Roman';
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
				url(pictures/background.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: 'Playfair Display', serif;
	background-position: center;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;


}

.header{
	
	font-family: 'Playfair Display', serif;
	margin: 1em 0 0 3%;
	font-size: 1em;
}

.header_title{
	clear: left;
	font-size: 2em;
}

#button{
	float: left;
	background-color: transparent;
	border: 5px solid white;
	margin: 0.5em 1%;
}

.header_title{
	float: left;
	font-size: 5em;
}

main{
	clear: left;
}

@keyframes dropHeader {
  0% {
  	opacity: 0;
    transform: translateY(-100%);
  }
  100% {
  	opacity: 1;
    transform: translateY(0);
  }
}
 .centered{

 	text-align: center;
 	margin: 5em 18% 0 18%;
 	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
 }

#button_low{
	margin: 1em 25% 1em 25%;
	background-color: transparent;
	border: 5px solid white;

}

.middle{
	text-align: left;
	margin: 15em 18% 0 18%;
	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
}

form{
	width: 45%;
	margin: 15em 10% 0 25%;
	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

#map{
	
	margin: 1em 10% 0 10%;
}

#settings{
	color: black;
	width: 100%;
	margin: 0 0 0 0;
	background-color: rgb(255, 250, 250);
	padding: 1em 5% 1em 5%;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	animation: none;
}

#profile{
	width: 100%;
	margin: 1em 0 0 0 ;
}

#userpicture{
	display: block;
    margin: auto;
	overflow: hidden;
	width: 50%;
	object-fit: cover;
}

#submit{
	width: 100%;
}

.corner{
	margin: 1em 0 0 0;
}
.link{
	color: rgb(135,206,250);
}

.profile-img{
	width: 50%;
}
 #in_header{
 	opacity: 0;
	width: 1%;
	height: 1%;
}

@media screen and (min-width: 600px){
	h1{
		margin-left: 15%;
	}

	#in_header{
		opacity: 1;
		float: right;
		margin-right: 0;
		width: 10%;
		height: 10%;
	}
}


/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.tab-content{
	color: black;
}

a:link{
	text-decoration: none;
	color: white;
}


a:visited{
	color: white;
}

a:hover{
	color: rgb(220,220,220);
}